@import "../croppieDemo/node_modules/bootstrap/scss/bootstrap.scss";

// .card{
//     border: 0px;
//     .canvas{
//         width: 100%;
//     }
// }
.modal-header {
    background-color: lightblue;
    border: 0;
}

.modal-body {
    padding: 0;

    .container {
        margin: 0;
        padding: 0;
    }
}

.card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    height: 15vh;

    .widthXheight {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
}

.modal {
    @media (min-width: 1200px) {
        .modal-xl {
            max-width: 90%;
        }

        .container-xl,
        .container-lg,
        .container-md,
        .container-sm,
        .container {
            max-width: 100%;
        }
    }

    .card-body {
        margin-top: 30px;

        #uploaded_image {
            img {
                width: 100%;
            }
        }
    }

    .card-footer {
        button {
            transition: all 0.5s;

            &.alertColor {
                // background-color: rgb(199, 79, 79);
                // border: none;
                font-size: 1.5rem;
            }
        }
    }

}

footer {
    padding: 0 20px;

    // margin-bottom: 20px;
    .leftDOM {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            // width: 100%;
            max-height: 100%;
            max-width: 100%;
        }
    }
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}